@charset "UTF-8";

* {margin: 0; padding: 0; box-sizing: border-box;}
::-webkit-scrollbar {width: 0; height: 0;}
html {scroll-behavior: smooth;}
html, body {background: white;}
a {text-decoration: none; color: black;}
img {max-width: 100%;}
h2 {font-size: 70px; color: white;}
.heading {padding: 100px 0;}

/* 홈(header) */
#home {
    min-height: 100vh;
    position: relative;
}
#home nav p {
    color: white;
    font-size: 17px;
    font-weight: bold;
}
#home button {
    display: none;
}
#home button:hover, #home button:focus {
    cursor: pointer;
}
#home nav {
    width: 100%;
    height: 80px;
    background: #0E1B32;
    position: fixed;
    z-index: 3;
    padding: 0 100px;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.20);
}
#home nav > div {
    max-width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#home #menu a {
    max-width: 120px;
    text-align: center;
    border-radius: 10px;
    padding: 5px 30px;
    color: white;
}
#home #menu a:hover, #home #menu a:focus, #home #menu a.active {
    color: black;
    background: rgb(255, 255, 255);
}

#home #homescreen {
    max-width: 380px;
    margin: auto;
    padding-top: 280px;
    position: relative;
    z-index: 2;
}
#home #homescreen img {
    display: block;
    max-width: 380px;
}
#home #homescreen b {
    font-size: 25px;
}
#home #homescreen p {
    font-size: 17px;
}
#home #click {
    display: block;
    width: fit-content;
    margin: auto;
    margin-top: 200px;
    animation: updown 1.3s both infinite;
}
#home #click span {
    font-size: 3rem;
}
@keyframes updown {
    from {transform: translateY(-20px); opacity: 0;}
    to {transform: translateY(0); opacity: 1;}
}

/* 원 애니메이션 */
#home #shapeanimation {
    width: 700px;
    min-height: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#home #shpaeanimation div {
    transition: 0.5s;
}
#home #c1 {
    display: block;
    position: absolute;
    background: #ff9d60;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(60px);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: circle1 10s infinite;
}
#home #c2 {
    display: block;
    position: absolute;
    background: #ffe5ac;
    top: 45%;
    left: 20%;
    transform: translate(-50%, -50%);
    filter: blur(80px);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: circle2 10s infinite;
}
#home #c3 {
    display: block;
    position: absolute;
    background: #9effe4;
    top: 80%;
    left: 30%;
    transform: translate(-50%, -50%);
    filter: blur(80px);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: circle3 10s infinite;
}
#home #c4 {
    display: block;
    position: absolute;
    background: #609fff;
    top: 80%;
    left: 70%;
    transform: translate(-50%, -50%);
    filter: blur(80px);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: circle4 10s infinite;
}
#home #c5 {
    display: block;
    position: absolute;
    background: #bbff7f;
    top: 45%;
    left: 80%;
    transform: translate(-50%, -50%);
    filter: blur(80px);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: circle5 10s infinite;
}


/* 메인 main */
main {
    max-width: 100%;
    background: #0E1B32;
}
/* 어바웃(About) */
#about {
    min-height: 100vh;
    max-width: 1300px;
    margin: auto;
    color: white;
}
#about .heading {
    text-align: right;
}
#about article .hidden {
    display: none;
}
#about section {
    margin-left: 30px;
}
#about section ul {
    padding-left: 30px;
}
#about article:first-of-type {
    display: flex;
}
#about article:first-of-type img {
    border-radius: 5px;
    box-shadow: 0 0 17px white;
}
#about ul {
    list-style: none;
}
#about ul li {
    line-height: 170%;
    font-size: 18px;
    font-weight: bold;
}
#about article b {
    font-size: 20px;
    display: inline-block;
    transform: translateY(-5px);
}
#about article div p {
    font-size: 27px;
    display: inline-block;
    transform: translateY(-5px);
}
#about article div img {
    max-width: 400px;
    display: block;
}
#about article section {
    padding: 20px;
}
#about article section h3 {
    padding: 20px 0;
}
#about article section span {
    display: inline-block;
    font-size: 15px;
    font-weight: normal;
    width: 150px;
}

#about article:last-of-type {
    padding: 50px 0;
}
#about article:last-of-type > div {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
#about .skillsbox {
    width: 250px;
    height: 340px;
    border-radius: 5px;
    background: #15223f;
    position: relative;
}
#about .skillsbox img {
    width: 100px;
    top:50%; left:50%;
    transform: translate(-50%, -50%);
    position: absolute;
    transition: 0.5s;
}
/* #about .skillsbox:hover img, #about .skillsbox:focus img {
    filter: blur(20px);
} */
#about .skillsform {
    top:80%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
#about .skillsform label {
    display: block;
    text-align: center;
    font-size: 13px;
}
#about .skillsform progress {
    width: 200px;
    height: 20px;
    appearance: none;
}
#about .skillsform ::-webkit-progress-bar {
    background:#fff;
    border-radius: 50px;
    overflow: hidden;
}
#about .skillsform ::-webkit-progress-value {
    border-radius: 50px;
    background:linear-gradient(to right, rgb(133, 241, 255), rgb(118, 255, 187));
}

/* 프로젝트(Project) */
#project {
    min-height: 100vh;
    max-width: 1300px;
    margin: auto;
    background: #0E1B32;
    color: white;
}
#project h3 {
    font-size: 35px;
    padding-bottom: 20px;
}
#project img {
    width: 520px;
}
#project section {
    display: flex;
    min-height: 90vh;
    transform: translateY(170pt);
    opacity: 0;
    transition: 1s;
}
#project section.act {
    transform: translateY(0);
    opacity: 1;
}
#project ul {
    list-style: none;
    line-height: 200%;
}
#project li {
    display: flex;
}
#project b {
    flex: 1;
    font-size: 17px;
}
#project span {
    flex: 6;
    text-align: left;
}
#project .pjleft {
    flex: 1.7;
}
#project .pjright {
    flex: 1.2;
}
#project nav {
    padding: 50px 0;
}
#project a {
    display: inline-block;
    padding: 10px 30px;
    background: white;
    border-radius: 20px;
    margin-right: 10px;
    transition: 0.5s;
}
#project a:hover, #project a:focus {
    background: #333; color: white;
}
#project section:nth-of-type(even) .pjleft {
    order:2;
}
#project section:nth-of-type(even) .pjright {
    order:1;
}

/* 이벤트 & 디테일(event) */
#event {
    min-height: 100vh;
    max-width: 1300px;
    margin: auto;
    color: white;
    background: #0E1B32;
}
#event .heading {
    text-align: right;
}
#event div:last-of-type {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
    padding-bottom: 200px;
}
#event button {
    position: relative;
    cursor: pointer;
    margin: 15px;
    border: none;
}
#event button img {
    display: block;
    transition: filter 0.5s;
}
#event button:hover img, #event button:focus img  {
    filter: brightness(0.2);
}
#event i.material-symbols-rounded {
    font-size: 3rem;
    color:white;
    position: absolute;
    top:35%;
    left:40%;
    display: none;
}
#event b {
    position:absolute;
    top: 55%;
    left:35%;
    font-size: 1.1rem;
    color:white;
    font-weight: normal;
    display: none;
}
#event button:hover i, #event button:focus i,
#event button:hover b, #event button:focus b {
    display: block;
}

/* 컨택트(contact) */
#contact {
    min-height: 60vh;
    max-width: 1300px;
    margin: auto;
}
#contact h2 {
    color: black;
}

/* 이벤트 상세페이지 큰 이미지 보이기 (팝업 모달) */
#popup {
    position: fixed; top:0; left:0; z-index: 3;
    width:100%;
    height: 100vh;
    overflow-y: auto;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.8);
    display: none;
}
#popup h3 {
    background:black;
    color:white;
    padding:20pt;
    text-align: center;
    font-size: 1.5rem;
}
#popup img {
    display: block;
    margin: auto;
    max-width:45%;
}

/* 하단 topbutton 버튼 */
#topbutton a span {
    position: fixed;
    right:100px;
    bottom: 20pt;
    color:rgb(167, 167, 167);
    font-size: 3rem;
    display: none;
}
#topbutton button:hover {
    cursor: pointer;
}



/* 모바일 */
@media (max-width: 750px) {
    h2 {
        font-size: 50px;
    }
    .heading {
        text-align: center;
    }
    .heading p {
        font-size: 12px;
    }

    #home nav {
        padding: 0 20px;
    }
    #home nav.act {
        height: 100vh;
    }
    #home button {
        display: block;
        background: none;
        border: none;
        color: white;
        font-size: 1.7rem;
    }
    #home nav.act #menu {
        left:0;
    }
    #home #homescreen {
        max-width: 230px;
        margin: auto;
        padding-top: 280px;
        position: relative;
        z-index: 2;
    }
    #home #homescreen img {
        max-width: 230px;
    }
    #home #homescreen b {
        font-size: 15px;
    }
    #home #homescreen p {
        font-size: 12px;
    }
    #menu {
        position: absolute;
        background: white;
        width: 70%;
        top: 80px;
        left: -100vw;
        height: 100vh;
        padding: 20px;
        transition: left 0.5s;
        }
    #home #menu a {
        text-align: left;
        border-radius: 10px;
        padding: 10px;
        color: black;
        display: block;
    }

    #home #shapeanimation {
        width: 350px;
        min-height: 350px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #home #c1, #home #c2, #home #c3, #home #c4, #home #c5 {
        filter: blur(60px);
        width: 100px;
        height: 100px;
    }
    
    #about .heading {
        text-align: center;
    }
    #about article:first-of-type {
        flex-direction: column;
    }
    #about ul li {
        line-height: 170%;
        font-size: 15px;
    }
    #about article:first-of-type b {
        width: 100%;
        text-align: center;
        font-size: 10px;
        display: inline-block;
        transform: translateY(-5px);
    }
    #about article:first-of-type div p {
        width: 100%;
        text-align: center;
        font-size: 17px;
        display: inline-block;
        transform: translateY(-5px);
    }
    #about article div img {
        max-width: 200px;
        display: block;
        margin: auto;
    }

    #about article:last-of-type > div {
        padding: 10px 0;
    }
    #about article:last-of-type b {
        width: 100%;
        text-align: center;
        font-size: 10px;
    }
    #about .skillsbox {
        width: 100px;
        height: 120px;
    }
    #about .skillsbox img {
        width: 25px;
        top:30%; left:50%;
        transform: translate(-50%, -50%);
        position: absolute;
        transition: 0.5s;
    }
    #about .skillsform {
        top:70%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
    }
    #about .skillsform label {
        display: block;
        text-align: center;
        font-size: 7px;
        transform: translateY(10px);
    }
    #about .skillsform progress {
        width: 50px;
        height: 10px;
    }

    #project h3 {
        font-size: 25px;
        padding-bottom: 20px;
    }
    #project img {
        width: 520px;
    }
    #project nav {
        text-align: center;
    }
    #project section {
        padding: 40px;
        transform: translateY(170pt);
        opacity: 0;
        transition: 1s;
        flex-direction: column;
    }
    #project section.act {
        transform: translateY(0);
        opacity: 1;
    }
    #project b {
        flex: 1;
        font-size: 15px;
    }
    #project span {
        font-size: 12px;
    }
    #project .pjleft {
        flex: 1.7;
    }
    #project .pjright {
        flex: 1.2;
    }
    #project nav {
        padding: 50px 0;
    }
    #project a {
        padding: 5px 20px;
        background: white;
        font-size: 10px;
        margin-right: 5px;
    }
    #project section .pjleft {
        order: 2;
    }
    #project section .pjright {
        order: 1;
    }

    #event .heading {
        text-align: center;
    }

    #contact div:last-of-type {
        text-align: center;
    }

    #topbutton a button {
        right: 30px;
        font-size: 2rem;
    }
}




/* circle1~5 애니메이션 */
@keyframes circle1 {
    0% {
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    20% {
        top: 45%;
        left: 20%;
        transform: translate(-50%, -50%);
    }
    40% {
        top: 80%;
        left: 30%;
        transform: translate(-50%, -50%);
    }
    60% {
        top: 80%;
        left: 70%;
        transform: translate(-50%, -50%);
    }
    80% {
        top: 45%;
        left: 80%;
        transform: translate(-50%, -50%);
    }
    100% {
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@keyframes circle2 {
    0% {
        top: 45%;
        left: 20%;
        transform: translate(-50%, -50%);
    }
    20% {
        top: 80%;
        left: 30%;
        transform: translate(-50%, -50%);
    }
    40% {
        top: 80%;
        left: 70%;
        transform: translate(-50%, -50%);
    }
    60% {
        top: 45%;
        left: 80%;
        transform: translate(-50%, -50%);
    }
    80% {
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    100% {
        top: 45%;
        left: 20%;
        transform: translate(-50%, -50%);
    }
}

@keyframes circle3 {
    0% {
        top: 80%;
        left: 30%;
        transform: translate(-50%, -50%);
    }
    20% {
        top: 80%;
        left: 70%;
        transform: translate(-50%, -50%);
    }
    40% {
        top: 45%;
        left: 80%;
        transform: translate(-50%, -50%);
    }
    60% {
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    80% {
        top: 45%;
        left: 20%;
        transform: translate(-50%, -50%);
    }
    100% {
        top: 80%;
        left: 30%;
        transform: translate(-50%, -50%);
    }
}

@keyframes circle4 {
    0% {
        top: 80%;
        left: 70%;
        transform: translate(-50%, -50%);
    }
    20% {
        top: 45%;
        left: 80%;
        transform: translate(-50%, -50%);
    }
    40% {
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    60% {
        top: 45%;
        left: 30%;
        transform: translate(-50%, -50%);
    }
    80% {
        top: 80%;
        left: 30%;
        transform: translate(-50%, -50%);
    }
    100% {
        top: 80%;
        left: 70%;
        transform: translate(-50%, -50%);
    }
}

@keyframes circle5 {
    0% {
        top: 45%;
        left: 80%;
        transform: translate(-50%, -50%);
    }
    20% {
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    40% {
        top: 45%;
        left: 30%;
        transform: translate(-50%, -50%);
    }
    60% {
        top: 80%;
        left: 30%;
        transform: translate(-50%, -50%);
    }
    80% {
        top: 80%;
        left: 70%;
        transform: translate(-50%, -50%);
    }
    100% {
        top: 45%;
        left: 80%;
        transform: translate(-50%, -50%);
    }
}